* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #0D1117;
  color: #ffffff;
}
.slider-wrapper {
   margin: auto;
   margin-top: 6rem;
   width: 40rem;
   height: 40rem;
   overflow: hidden;
   border-radius: 0.75rem;
   background-color: #25282A;
}

input[type="radio"] {
   display: none;
}
.slides-box {
  /* width: 400%;*/
   height: 86%;
   display: flex;
}
.slide {
   /*width: 25%;*/
   padding: 1rem;
   transition: all 0.6s ease;

   display: none;
}
.img {
   width: 100%;
   height: 100%;
   border-radius: 0.75rem;
   animation: fadein 1.2s;
}

p {display: none;}
#slide1:checked ~ .des1 {
   display: block;
}
#slide1:checked ~ .slide1 {
   display: block;
}
#slide2:checked ~ .des2 {
   display: block;
}
#slide2:checked ~ .slide2 {
   display: block;
}
#slide3:checked ~ .des3 {
   display: block;
}
#slide3:checked ~ .slide3 {
   display: block;
}
#slide4:checked ~ .des4 {
   display: block;
}
#slide4:checked ~ .slide4 {
   display: block;
}
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.description {
  display: flex;
}
.pagination {
   display: flex;
}
.pagination-item {
   width: 1rem;
   height: 1rem;
   margin: .5rem;
   border: 2px solid #71A5F1;
   background-color: #71A5F1;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.4s ease;
}
.pagination-item:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}


@media screen and (max-width: 1024px) {
  .slider-wrapper {
     width: 28rem;
     height: auto;
  }
  .text-wrapper {
    flex-direction: column-reverse;
    align-content: center;
    gap: 2rem;
  }
}
