* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #0D1117;
  color: #ffffff;
}
.slider-wrapper {
   margin: auto;
   margin-top: 6rem;
   width: 40rem;
   overflow: hidden;
   border-radius: 0.75rem;
   background-color: #25282A;
}
input[type="radio"] {
   display: none;
}
.slides-box {
   display: flex;
   flex-direction: column;
   padding: 1rem;
}
.slide {
   padding: 1rem;
   transition: all 0.6s ease;
   display: none;
}
.img {
   width: 100%;
   height: 100%;
   border-radius: 0.75rem;
   animation: fadein 1.2s;
}
p {
  display: none;
  animation: fadein 1.2s;
  padding-left: 1rem;
}
@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#slide1:checked ~ .des1 {
   display: block;
}
#slide1:checked ~ .slide1 {
   display: block;
}
#slide2:checked ~ .des2 {
   display: block;
}
#slide2:checked ~ .slide2 {
   display: block;
}
#slide3:checked ~ .des3 {
   display: block;
}
#slide3:checked ~ .slide3 {
   display: block;
}
#slide4:checked ~ .des4 {
   display: block;
}
#slide4:checked ~ .slide4 {
   display: block;
}

.pagination {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: -1rem;
}
.pagination-item {
  width: 1rem;
  height: 1rem;
  margin: .5rem;
  border: 0.25rem solid #71A5F1;
  background-color: #71A5F1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.pagination-item:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}

@media screen and (max-width: 1024px) {
  .slider-wrapper {
     width: 28rem;
  }
  .pagination {
    justify-content: center;
    margin-top: -5rem;
    margin-bottom: 2rem;
  }
  p {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }
}
